@import '~select2/dist/css/select2.css';

/* Preview iframe and its loading animation */
#trp-preview-iframe {

    iframe {
        display: block;
        width: 100%;
        height: 100vh;
        border: 0;
    }
}

#trp-preview-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    transition: all 1s ease-in-out;
}

.trp-loader {
    -webkit-animation: rotation 1.35s linear infinite;
    animation: rotation 1.35s linear infinite;
    stroke: #0085ba;
}

@-webkit-keyframes rotation{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotation{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.trp-circle{
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: turn 1.35s ease-in-out infinite;
    animation: turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes turn{
    0% {
        stroke-dashoffset: 180;
    }

    50% {
        stroke-dashoffset: 45;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 180;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes turn{
    0% {
        stroke-dashoffset: 180;
    }

    50% {
        stroke-dashoffset: 45;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 180;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}


/*  Main sections of the interface */
body{
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#trp-editor{
    margin-left: 350px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#trp-controls{
    width: 348px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid #ddd;
    background: #eee;
}

.trp-controls-container{
    height: 100%;
    overflow-x: auto;
}


#trp-save-container, #trp-save-and-loader-spinner{
    float: right;
}

.trp-controls-section{
    background: #fff;
    color: #555d66;
    cursor: default;
    border: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 15px;
}

.trp-controls-section-content{
    padding: 12px;
}

#trp-upsell-section h3,
#trp-upsell-section p{
    text-align: center;
}

#trp-upsell-section .button-primary{
    min-width:200px;
}


#trp-unsaved-changes-warning-message{
    color: #dc3232;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 1px;
    display: block;
    z-index: 50;
}

.ui-resizable-handle:active {
    background-color: #676767;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -2px;
    top: 0;
    height: 100%;
}

#trp-controls-close{
    cursor: pointer;
    font: 400 26px/40px dashicons;
    font-weight: bold;
    display: inline-block;
    width: 45px;
    height: 41px;
    background: #eee;
    border: none;
    border-top: 4px solid #eee;
    border-right: 1px solid #ddd;
    color: #444;
    text-align: center;
    -webkit-transition: color .15s ease-in-out,border-color .15s ease-in-out,background .15s ease-in-out;
    transition: color .15s ease-in-out,border-color .15s ease-in-out,background .15s ease-in-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-decoration: none;
}

#trp-controls-close:after{
    content: "\f335";
}

#trp-controls-close:focus,
#trp-controls-close:hover{
    background: #fff;
    color: #0073aa;
    border-top-color: #0073aa;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#trp-preview{
    position: absolute;
    left: 0;
    right: 350px;
    height: 100%;
}

html[dir="rtl"] #trp-preview{
    left: 350px !important;
    right: 0px !important;
}

iframe#trp-preview-iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 0px;
}

#trp-language-switch-form{
    display: inline;
}

#trp-language-select{
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 3px;
}

.string-selector-description{
    font-size: 12px;
}


/*
    View as Dropdown
 */
#trp-view-as{
    clear:both;
    padding-top:15px;
}

#trp-view-as-description{
    padding-bottom: 10px;
    color: black;
}

#trp-view-as-select{
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 3px;
}




/*
    String list
 */

#trp-string-categories{
    width: 100% /*!important*/;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 3px;
}

span.select2-container{
    margin-bottom: 10px;
    /*width: 100% !important;*/
}

#trp-lists{
    margin-botton: 10px;
}


/*
 Translation Editors
 */

.trp-toggle-languages {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trp-toggle-languages span,
.trp-next-previous-buttons, .trp-add-media {
    cursor: pointer;
}

#trp-next-previous {
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.trp-toggle-languages span,
.trp-next-previous-buttons span {
    font-size: initial;
}

.trp-toggle-languages span,
.trp-next-previous-buttons,
.trp-add-media {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 85px;
}

.trp-toggle-languages span,
.trp-next-previous-buttons,
.trp-add-media{
    color: #555;
    border-color: #cccccc;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;
}

.trp-toggle-languages span,
.trp-next-previous-buttons {
    vertical-align: baseline;
}

.trp-toggle-languages span:hover,
.trp-next-previous-buttons:hover,
.trp-next-previous-buttons:focus,
.trp-add-media:hover{
    background: #fafafa;
    border-color: #999;
    color: #222;
}

.trp-toggle-languages.trp-show-other-languages span:hover {
    background: #eee;
}

.trp-toggle-languages span,
.trp-next-previous-buttons:focus {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.trp-toggle-languages.trp-show-other-languages span,
.trp-next-previous-buttons:active {
    background: #eee;
    border-color: #999;
    color: #333;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

.trp-toggle-languages {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#trp-save{
    margin-right: 10px;
    margin-top: 9px;
    margin-left: 10px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
}

#trp-save:hover, #trp-save-gettext:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

#trp-save:active, #trp-save-gettext:active {
    background: #0073aa;
    border-color: #006799;
    -webkit-box-shadow: inset 0 2px 0 #006799;
    box-shadow: inset 0 2px 0 #006799;
}


#trp-translation-saved {
    padding-left: 20px;
    color: #008000;
    font-size: 14px;
    display:none;
}

/*
 * Loading animation
 */
.trp-ajax-loader {
    margin-bottom: -16px;
    margin-left:20px;
    margin-right:3px;
    display: inline-block;
    z-index: 50;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#E57EB149', EndColorStr='#E57EB149')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#E57EB149', EndColorStr='#E57EB149');
    zoom: 1!important;
}

.trp-ajax-loader .trp-spinner {
    width: 15px;
    height: 15px;
    border: 3px solid #a1b9e6;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

}

@-webkit-keyframes
spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes
spin {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#trp-preview.trp-still-loading-strings:before{
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 30px; /* Full height (cover the whole page) */
    line-height:30px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(40,177,255,0.8); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    content:'The strings are not yet ready for translation. Try again in a moment...';
    color:#fff;
    text-align:center;
}
/*
 * Select 2 Overlay in front-end
 */

.select2-selection.select2-selection--single{
    outline: 0;
}

#trp_select2_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 1000;
}

.select2-container{
    z-index: 1051;
}

#trp-view-as .select2-container{
    z-index: 999;
}

.select2-container--default .select2-results > .select2-results__options,
.select2-container--default .select2-results > .select2-results__options,
.select2-results{
    max-height: 400px !important;
}


/*
Language boxes component
 */
.trp-translations-for-language{
    width: 100%;
    border: 0;
    border-spacing: 0;
}
.trp-translation-icon-container{
    width: 39px;
}
.trp-translations-for-language td{
    padding: 0;
}
span.trp-translation-icon{
    font-size: 29px;
    line-height: 0.8276;
    color: darkgrey;
}
.trp-language-container{
    padding-bottom: 5px;
}
.trp-changes-unsaved-message{
    color: red;
    padding-bottom: 10px;
}

.trp-language-name{
    padding-bottom: 10px;
    color: black;
}
.trp-language-box-flag-image{
    float:right;
    padding-top: 4px;
}

.trp-translation-input-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.trp-attribute-name{
    padding-left: 3px;
    font-size: 11px;
    color: black;
}

.trp-discard-individual-changes{
    font-size: 11px;
}

.trp-discard-changes{
    color: darkgrey;
    user-select: none;
}

.trp-unsaved-changes.trp-discard-changes{
    color: #a00;
    cursor: pointer;
    text-decoration: underline;
}
.trp-unsaved-changes.trp-discard-changes:hover{
    color: #dc3232;
    cursor: pointer;
}


/*
Translation Input component
 */

.trp-input-media-container{
    width: auto;
    overflow: hidden;
    padding-right:13px;
}
.trp-add-media{
    float: right;
}
.trp-translation-input-parent.trp-input-media-parent{
    padding-right: 0;
}
.trp-translation-input-parent {
    padding-right: 9px;
    padding-bottom: 2px;
}
.trp-translation-input{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    padding: 3px;
    border: 1px solid  #aaa;
    border-radius:3px;
}
.trp-translation-input[readonly="readonly"]{
    background: #EBEBE4;
    border: 1px solid  #aaa;
    outline-width: 0;
}

.trp-textarea{
    height: 20px;
    max-height: 180px;
    resize: vertical !important;
}
.trp-highlight-unsaved-changes .trp-translation-input{
    border:solid 2px red
}


/* Needed for Media upload
 * Hide visually but not from screen readers
 */
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}
